html,
body,
#root,
.container {
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: auto;
}
body {
  background-color: #333;
  margin: 0;
  padding: 0;
}
.container {
  flex-direction: column;
  align-items: center;
}

.homeHeader {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeHeader nav {
  position: fixed;
  z-index: 1000;
  width: 80%;
  top: 0;
  left: 10%;
  height: 70px;
  padding: 3px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  background-color: #333;

  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  /* border: 1px solid red; */
}
.homeHeader span {
  color: #c74444;
  /* font-weight: lighter; */
  font-size: 75px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: 1px 1px 2px #000;
}
.homeHeader img {
  width: 50px;
}
.homeHeader .navMenu {
  width: calc(100% - 100px);
  height: 100%;
  display: flex;
  align-items: center;
}

.homeHeader .navMenu a {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  height: 50%;
  text-decoration: none;
  color: #e0e0e0;
  font-weight: 500;
  font-size: 25px;
  padding: 10px;
  margin: 20px;
  line-height: 0.5;
  transition: all 0.3s linear;
}
.homeHeader .navMenu a:hover {
  color: #fff;
  text-shadow: 0 0 3px #fff;
}
.borderBox {
  position: absolute;
  /* width: 0; */
  height: 0;
  border-radius: 7px;
  border: 2px solid #c74444;
  top: 100%;
}

.content {
  height: 70%;
  width: 80%;
}

@keyframes wide {
  0% {
    width: 0;
  }
  100% {
    width: 10px;
  }
}
